/*カードの枠線*/
.card-rose{
  border-color: #4f122b;
}

.card-rose .btn-detail{
  float: right;
}


/*枠線のみのボタン*/
.btn-rose-outline {
    border-color: #4f122b;
    color: #4f122b;
  }

.btn-rose-outline:hover {
    background-color: #4f122b;
    color: white;
}

/*色塗りされたタグボタン*/
.btn-rose-tag{
  background-color: #4f122b;
  color: white;
}

.btn-rose-tag:hover{
  background-color: #724155;
  color: white;
}

/*インプット*/
.row .input-rose-custom {
  width: 100%;
  border: 2px solid #4f122b;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}

.row .input-rose-custom:focus {
  border-color: #4f122b;
  box-shadow: 0 0 5px rgba(79, 18, 43, 0.5);
}

/*セレクトフォーム*/
.select-rose {
    border: 2px solid #4f122b;
    border-radius: 0.375rem;
    padding: 0.5rem;
    background-color: white;
    color: #333;
    appearance: none;
    outline: none;
}

.select-rose:focus {
    border-color: #4f122b;
    box-shadow: 0 0 0 1px rgba(79, 18, 43, 0.5);
}

/*タイトルなどが入ったボックス*/
.box-rose {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 1px #4f122b;
}

.box-rose h1, .box-rose h2, .box-rose p {
    color:#4f122b;
    margin: 0;
    padding: 0;
}

/*コメントカード*/
.comment-rose{
  padding: 0.5em 1em;
  margin: 2em 0;
  border: solid 1px #4f122b;
  border-radius: 8px;
}

/*罫線*/
.hr-rose{
  color: #4f122b;
  border: none;
  border-top: 1px dashed #000;
  margin: 20px 0;
}

/*余白*/
.container-fluid {
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
}

/*投稿の画像配置*/
.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/*投稿の画像プレビュー*/
.preview{
  
}


/*ナビゲーションバーの背景*/
.nav-bar-rose{
    background: #4f122b;
    border-bottom: 3px solid #4f122b;
}


/*bootstrap nav-bar*/
.dropdown-mypage .dropdown-item{
  color:white;
}

.dropdown-mypage .dropdown-item:hover{
  background-color:white;
  color:#4f122b;
}

.dropdown-mypage .dropdown-toggle{
  color:white;
  text-decoration: none;
}


/*検索ボックス*/
.search-box {
    position: relative;
    display: flex;
    width: 100%;
}

.search-box input[type="text"] {
    flex-grow: 1;
    height: 80%;
    padding: 0.7rem 0 0.7rem 0.8rem;
    border: 1px solid #333;
    border-radius: 1.5rem;
}

.search-box button {
    position: absolute;
    top: -0.05rem;
    right: 0;
    cursor: pointer;
    padding: .8rem .9rem .8rem .8rem;
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    background: none;
    color: #333;
    font-size: 1rem;
    transition: 0.5s;
}

.search-box button:hover {
    color: #4f122b;
    transform: scale(1.2);
}

.search-box::placeholder{
  color: #4f122b;
}