/*カードの枠線*/
.card-rose{
  border-color: #4f122b;
}

.card-rose .btn-detail{
  float: right;
}


/*枠線のみのボタン*/
.btn-rose-outline {
    border-color: #4f122b; /* カスタムの枠線色 */
    color: #4f122b; /* ボタンテキストの色（枠線と同じにする場合） */
  }

.btn-rose-outline:hover {
    background-color: #4f122b; /* ホバー時の背景色（オプション） */
    color: white; /* ホバー時のテキスト色（オプション） */
}

.btn-rose-tag{
  background-color: #4f122b;
  color: white;
}

.btn-rose-tag:hover{
  background-color: #724155;
  color: white;
}


/*ページネーション*/
.paginate-rose{
  
}

.nav-bar-rose{
    background: #4f122b;
    border-bottom: 3px solid #4f122b;
}


/*bootstrap nav-bar*/
.dropdown-mypage .dropdown-item{
  color:white;
}

.dropdown-mypage .dropdown-item:hover{
  background-color:white;
  color:#4f122b;
}

.dropdown-mypage .dropdown-toggle{
  color:white;
  text-decoration: none;
}



/*検索ボックス*/
.search-box {
    position: relative;
    display: flex;
    width: 100%;
}

.search-box input[type="text"] {
    flex-grow: 1;
    height: 80%;
    padding: 0.7rem 0 0.7rem 0.8rem;
    border: 1px solid #333;
    border-radius: 1.5rem;
}

.search-box button {
    position: absolute;
    top: -0.05rem;
    right: 0;
    cursor: pointer;
    padding: .8rem .9rem .8rem .8rem;
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    background: none;
    color: #333;
    font-size: 1rem;
    transition: 0.5s;
}

.search-box button:hover {
    color: #4f122b;
    transform: scale(1.2);
}



/*トップページ
/* ↓ スライドの外枠 */
.slide-wrapper {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden; /* はみ出したスライドを隠す */
}
/* ↓ 左右のボタン */
.next {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 10px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(45deg) translateY(50%);
  transform: rotate(45deg) translateY(50%);
}
.prev {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 25px;
  bottom: 50%;
  z-index: 10;
  cursor: pointer;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  -webkit-transform: rotate(-135deg) translateY(-50%);
  transform: rotate(-135deg) translateY(-50%);
}
.slide { /*スライド全体 */
  width: 400%;
  height: 100%;
  display: flex;
  transition: all 0.3s;
}
.slide div { /* スライドの中身 */
  width: 25%;
  height: 100%;
  font-size: 16px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.slide img{

width: 100%;

height: auto;

}
.slide1 { /* スライドさせるために必要なクラス */
  transform: translateX(0);
}
.slide2 { /* スライドさせるために必要なクラス */
  transform: translateX(-25%);
}
.slide3 { /* スライドさせるために必要なクラス */
  transform: translateX(-50%);
}
.slide4 { /* スライドさせるために必要なクラス */
  transform: translateX(-75%);
}
.slide div:nth-of-type(1){ /* 背景色 */
  background-color: #F3F4F6;
}
.slide div:nth-of-type(2){ /* 背景色 */
  background-color: #F3F4F6;
}
.slide div:nth-of-type(3){ /* 背景色 */
  background-color: #F3F4F6;
}
.slide div:nth-of-type(4){ /* 背景色 */
  background-color: #F3F4F6;
}